.button-login{
    background: #e96f0a;
    border-color: #e96f0a;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    height: 60px;
    font-weight: 500;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
}
.login-input{
    width: 100%;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-weight: 500;
    font-size: 19px;
    line-height: 28px;
    color: #000000;
    
}
.login-form .ant-form-item{
    margin-bottom: 30px;
}

.footlight-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.footlight-text-logo{
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    margin-left: 15px;
}
.login-center-text{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 35px;
    line-height: 120%;
    color: #222732;
}
.login-center-text.sign-in-text{
    color: #031D45;
}
.login-label{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-left: 5px;
    color: #000000;
    margin-bottom: 5px;
}


.ant-layout-sider.login-sider{
    flex: 0 0 450px !important;
    max-width: 460px !important;
    width: 450px !important;
    text-align: center;
    height: 100%;

}
.login-root{
    min-height: 100%;
}
.ant-layout.login-input-root{
    min-height: calc(100vh);
    align-items: center;
    height: 100%;
    justify-content: center;
    padding: 20px;
}
.forgot-create-div{
    display: flex;
    justify-content: space-between;
    color: #e96f0a;
    font-weight: 600;
}
.login-div{
    width: 550px;
}
.login-logo{
    width: 370px;
    margin-top: 140px;
}
.ant-col.login-input-col{
    flex: 1;
}
.ant-row.login-input-row{
    width: 100%;
}
.login-root .spin{
    right: 50%;
}