.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
.profile-keys{
    display: flex;
    margin-bottom: 20px;
    font-size: 20px;
}
.user-profile-img .ant-avatar-string,
.profile .ant-avatar-string
{
    font-size: 45px;
}

.user-list-layout .ant-table-body{
    margin-bottom: 35px;
}